.dotnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotnav .icon {
  margin-right: var(--spacingx1);
  color: var(--clear);
}

.dotnav .icon:hover {
  color: var(--white);
  cursor: pointer;
}