footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: var(--principal);
  padding: var(--spacingx1) 0px;
}

.moreinfo {
  align-self: flex-end;
}

footer a {
  margin-right: var(--spacingx1);
  color: var(--white);
}

footer a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-right: var(--spacingx1);
  border-radius: 50%;
  background-color: var(--darkClear);
  text-decoration: none;
}

.circle-icon:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.icon {
  justify-self: center;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
}