:root {
  /*Texto*/
  --fontTitle: 'Arial';
  --fontText: 'Arial';

  /*Espacing*/
  --spacingx1: 10px;
  --spacingx2: 20px;
  --spacingx3: 30px;

  /*Colors*/
  --principal: #433431;
  --secundary: #FF6400;
  --secundaryClear: #FE8600;
  --clear: #A19B9D;
  --darkClear: #6C6C6B;
  --dark: #000000;
  --white: #ffffff;
  --whiteDark: #E9E6E1;

  /*Text size*/
  --titleSize: 1.5em;
  --textSize: 1em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-family: var(--fontTitle);
  font-size: var(--titleSize);
}

h2 {
  font-family: var(--fontText);
  font-size: var(--titleSize);
}

p {
  font-family: var(--fontText);
  font-size: var(--textSize);
}

a {
  font-family: var(--fontText);
  font-size: var(--textSize);
  text-decoration: none;
}

.container {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: 1024px;
  margin: 0px auto;
}

.button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacingx1) var(--spacingx2);
  background-color: var(--principal);
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}

.button:hover {
  background-color: var(--secundary);
  border: transparent
}

.button-buy {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  padding: var(--spacingx1) var(--spacingx2);
  background-color: var(--secundaryClear);
  font-weight: 600;
  color: var(--white);
  border: transparent;
}

.button-buy:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacingx1);
  margin-right: var(--spacingx2);
  border: 1px solid var(--darkClear);
  font-weight: 600;
}

.button-pages:hover {
  background-color: var(--secundary);
  border: transparent
}
